ops/n8n/workflows/jakub-lead-whatsapp.template.json
{
  "name": "Jakub lead to CRM and WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jakub-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-jakub-lead",
      "name": "Website Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "jakub-lead"
    },
    {
      "parameters": {
        "jsCode": "const lead = $json.body && Object.keys($json.body).length ? $json.body : $json;\nconst labels = {\n  meno: 'Meno',\n  telefon: 'Telefón',\n  email: 'Email',\n  zamer: 'Dôvod kontaktu',\n  'preferovany-den': 'Preferovaný deň',\n  'preferovany-cas': 'Preferovaný čas',\n  lokalita: 'Lokalita alebo typ nehnuteľnosti',\n  poznamka: 'Poznámka',\n  suhlas: 'Súhlas so spracovaním údajov',\n  source: 'Zdroj',\n  createdAt: 'Vytvorené'\n};\nconst lines = Object.entries(lead)\n  .filter(([, value]) => value !== undefined && value !== null && String(value).trim() !== '')\n  .map(([key, value]) => `${labels[key] || key}: ${value}`);\nreturn [{\n  json: {\n    lead,\n    whatsappMessage: `Nový dopyt z webu Jakuba Olšu\\n\\n${lines.join('\\n')}`,\n    response: { ok: true, message: 'Lead prijatý' }\n  }\n}];"
      },
      "id": "normalize-lead",
      "name": "Normalize Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/{{$env.WHATSAPP_API_VERSION}}/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $env.JAKUB_WHATSAPP_TO, type: 'text', text: { preview_url: false, body: $json.whatsappMessage } }) }}"
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response || { ok: true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ok",
      "name": "Respond to Website",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [780, 0]
    }
  ],
  "connections": {
    "Website Lead Webhook": {
      "main": [
        [
          {
            "node": "Normalize Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead": {
      "main": [
        [
          {
            "node": "Send WhatsApp Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Alert": {
      "main": [
        [
          {
            "node": "Respond to Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-26T00:00:00.000Z",
  "versionId": "template"
}
